:root {
  --acent-color: #2196f3;
  --acent-second-color: #ffffff;
  --backgroud-color: #2f303a;
  --text-color: #757575;
  --footer-link-color:rgba(255, 255, 255, 0.6);
  --porfolio-btn-color:#f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*----------------------------- HEADER ---------------------------------*/
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--acent-color);
}
.header-logo-second {
  color: #212121;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.link-current{
 color: var(--acent-color);
}
.header-link-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-link:hover,
.header-link-contact:hover,
.header-link:focus,
.header-link-contact:focus {
  color: var(--acent-color);
}
/*------------------------------------------ MAIN -------------------------------------------*/
.hero {
  background-color: var(--backgroud-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--acent-second-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.06em;
  color: var(--acent-second-color);
  background-color: var(--acent-color);
  border: none;
}

}
.quality-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.quality-after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  letter-spacing: 0.03em;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  letter-spacing: 0.03em;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
}
.team-after-name {
  font-size: 16px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* ------------------------------------------FOOTER ----------------------------------------*/
.footer {
  background-color: var(--backgroud-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--acent-color);
}
.footer-logo-second {
  color: var(--acent-second-color);
}
.footer-link-maps {
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: var(--acent-second-color);
}
.footer-link {
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--acent-color);
}

/* _____________________________________PORTFOLIO ___________________________*/
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  letter-spacing: 0.03em;
  background: var(--porfolio-btn-color);
  border: none;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--acent-second-color);
  background-color: var(--acent-color);
}

.portfolio-second-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2, 00;
  letter-spacing: 0.06em;
}
.portfolio-link {
  font-family: inherit
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
